body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
/* HERO sECTION */
section.hero{
    background-color: #1F2937;
    padding: 20px 200px 100px 200px;
    position: relative;
}
header{
    margin-bottom: 100px;
    position: relative;
}
ul{
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
}
a{
    text-decoration: none;
    display: inline;
}
ul li{
    display: inline;
}
li a{
    color: #E5E7EB;
    font-size: 18px;
    padding: 14px;
}
a.active{
    font-weight: bolder;
}
.navbar-brand{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin-right: 750px;
    position: absolute;
    left: 0;
}
.nav-item:hover{
    color: #F9FAF8;
    border-bottom: 3px solid #F9FAF8;
}
.hero-text{
    width: 50%;
}
.hero-maintext{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 0;
}
.hero-subtext{
    color: #E5E7EB;
    font-size: 18px;
}
.sign-up-button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bolder;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
}
.sign-up-button:hover{
    background-color: rgba(56, 130, 246, 0.6);
    cursor: pointer;
}
.hero-img{
    height: 245px;
    position: absolute;
    right: 214px;
    bottom: 90px;
}
/* FEATURES SECTION */
.features{
    text-align: center;
}
.features-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-bottom: 90px;
}
.features-container p{
    color: #1F2937;
}
.feature-heading{
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
    margin: 35px 0;
}
.feature{
    display: inline-block;
    width: 14%;
}
.feature-icon-border{
    padding: 55px;
    text-align: center;
    border: 3px solid #3882F6;
    border-radius: 8px;
}
.features-icon{
    font-size: 4em;
    color: #1F2937;
}
/* TESTIMONIAL SECTION */
blockquote footer{
    text-align: right;
}
.testimonial{
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    padding: 60px 300px;
}
.author{
    font-style: normal;
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;
}
/* CALL TO ACTION SECTION */
#cta{
    padding: 100px 180px;
}
.cta-banner{
    background-color: #3882F6;
    border-radius: 8px;
    padding: 50px 0;
    text-align: center;
}
.cta-text{
    text-align: left;
    display: inline-block;
    color: #F9FAF8;
    margin: 0;
}
.cta-text p{
    color: #E5E7EB;
}
.cta-text h1, .cta-text p{
    margin: 0;
    padding: 0;
}
.cta-sign-up-button{
    display: inline-block;
    margin-left: 100px;
}
.cta-sign-up-button button{
    border: 2px solid #E5E7EB;
}
/* FOOTER SECTION */
.footer footer{
    background-color: #1F2937;
    text-align: center;
    padding: 15px 0;
    color: #F9FAF8;
}

